.navbar
    nav.main-nav
        a.menu-open.menu-open--js(href="#")
            i.icon-menu
            span  меню
        .menu
            .inner
                .menu__item.menu__item--fir.hidden__xs.hidden__sm
                    .text--left.inline-b
                        .menu__item--line
                        .menu__item--title  горячая линия:
                        .text__xlg.text--info.phone  8 800 456-44-22
                        .social
                            .menu__item--title  Мы в социальных сетях:
                            a(href="#"): i.icon-facebook
                            a(href="#"): i.icon-twitter
                            a(href="#"): i.icon-instagram
                            a(href="#"): i.icon-vkontakte
                .menu__item.menu__item--sec
                    a.menu-close.menu-close--js(href="#")
                        i.text--primary.icon-cancel-1
                        span  закрыть
                    ul.menu-links
                        li: a(href="#") Главная
                        li: a(href="#") Наша миссия
                        li: a(href="#") каталог
                        li: a(href="#") акции
                        li: a(href="#") конкурсы
                        li: a(href="#") где купить
                    .visible__xs.visible__sm.margleft20
                        .menu__item--title  горячая линия:
                        .text__xlg.text--info.phone  8 800 456-44-22
                        .social
                            .menu__item--title  Мы в социальных сетях:
                            a(href="#"): i.icon-facebook
                            a(href="#"): i.icon-twitter
                            a(href="#"): i.icon-instagram
                            a(href="#"): i.icon-vkontakte

        //button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
        //    span.icon-bar &nbsp;
        //    span.icon-bar &nbsp;
        //    span.icon-bar &nbsp;
        //    span.icon-bar &nbsp;
        //.main-nav__collapse
        //    +menu(navigation)