//popups

#shares-id.mfp-hide.white-popup.mfp-with-anim(style='background-image: url("../images/popup-img.jpg");')
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .container
        .cell__md-10.center-block
            .shares-blockquote
                .row
                    .cell.cell__xlg-4.cell__md-3.cell__xs-12
                        .shares-date
                            .date 30-31 #[span ноября]
                    .cell.cell__xlg-8.cell__md-9.cell__xs-12
                        h3 Конкурс Пера «Пармская свиная»
                        p.margbot40.text__lg  Испания населена страстными людьми, а одна из страстей, которым предаются испанцы – кулинария. Испанская пера сделана из мяса быков и свинины, с добавлением густого и терпкого красного вина. Отведайте этой изысканной сырокопченой колбасы и угостите ей друзей.
                        h6.text--uppercase Правила конкурса:
                        ul.list--bullet
                            li Отведайте этой изысканной сырокопченой колбасы и угостите ей друзей.
                            li Отведайте этой изысканной сырокопченой колбасы и угостите ей друзей.
                            li Отведайте этой изысканной сырокопченой колбасы и угостите ей друзей.
                            li Отведайте этой изысканной сырокопченой колбасы и угостите ей друзей.

#card-id.mfp-hide.white-popup.mfp-with-anim
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .container
        .cell__md-10.center-block
            .category-blockquote
                .row
                    .cell.cell__md-5.cell__xs-12
                        .slider-for
                            div: img(src="images/card-4.png", alt="")
                            div: img(src="images/card-6.png", alt="")
                        .slider-nav
                            div: img(src="images/card-5.png", alt="")
                            div: img(src="images/card-6.png", alt="")
                    .cell.cell__md-6.cell__xs-12
                        h3 Колбаса Пера «Пармская свиная»
                        p.margbot40.text__lg  Испания населена страстными людьми, а одна из страстей, которым предаются испанцы – кулинария. Испанская пера сделана из мяса быков и свинины, с добавлением густого и терпкого красного вина. Отведайте этой изысканной сырокопченой колбасы и угостите ей друзей.
                        .contents
                            .text--primary.text__lg Состав:
                            p Свинина, говядина, шпик, посолочная смесь (поваренная соль, фиксатор окраски: нитрит натрия), соль поваренная морская пищевая, сахара, лактоза, специи, вино натуральное, горчичное семя, экстракты специй, усилитель вкуса глутамат натрия, антиокислитель аскорбат натрия, изоаскорбат натрия, натуральный экстракт зелёного чая, стартовая культура.
                            .text--primary.text__lg В 100 г продукта:
                            p белок – 14 г. жир – 42 г. калорийность – 434 ккал/1817кДж.
                            .text--primary.text__lg Срок хранения:
                            p Срок годности при tº хранения от +12 ºС до +15 ºС и относительной влажности 75÷78% не более 120суток.

//popups