//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 3px solid transparent;
  //margin-right: $base-padding;
  margin-bottom: 0;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, 2.3, $btn-border-radius-base);

  //font-weight: 900;
  //letter-spacing: 6px;
  font-family: 'Catorze Black';
  //min-width: 160px;
  text-transform: uppercase;

  height: 60px;


  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--natural{
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }

  // Button with icon
  .icon {
    //font-size: 130%;
    height: $base-padding * 4;
    &:before {
      line-height: ($base-padding * 4) - 2;
    }
  }
  &__icon--text {
    padding: 0 ($base-padding / 2);
    .icon {
      float: left;
      margin: 0 ($base-padding);
    }
    .sign {
      display: inline-block;
      font-size: 10px;
      line-height: 30px;
      margin: 0 ($base-padding / 2);
      text-transform: uppercase;
    }
  }
  &__text {
    display: inline-block;
    height: ($base-padding * 4);
    line-height: ($base-padding * 4) - 2;
    padding-right: $base-padding * 1;
  }
  &__icon {
    padding: 0;
    width: $base-padding * 4;
  }
  &__icon--left {
    padding-left: $base-padding * 2;
    .icon {
      position: absolute;
      top: 0;
      left: $base-padding;
    }
  }
  &__icon-right {
    padding-left: $base-padding * 2;
    .icon {
      position: absolute;
      top: 0;
      right: $base-padding;
    }
  }
  &--default {
    @include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      position: relative;
      &::after {
        content: '';
        background: url('../images/btn-back.png') top left;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: -10px;
        top: 10px;
        z-index: -1;
        border: 1px solid $btn-primary-border;
        @include transition();
      }
      &:hover {
        transform: translate(-10px, 10px);
        background: $btn-primary-bg;
        border-color: $btn-primary-bg;
        &::after {
          top: -10px;
          left:auto;
          right: -10px;
          background: $btn-primary-bg;
        }
      }
    }
    &--success {
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &--info {
      @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &--warning {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &--danger {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &--transparent {
      @include button-variant-tr2($btn-transparent-color, $btn-transparent-bg, $btn-transparent-border);

    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, 24px, 1.4, $btn-border-radius-large);
      //height: 55px;
    }
    &__lg-back {
      padding: 0;
      span {
        display: block;
        @include button-size($padding-large-vertical, $padding-large-horizontal, 24px, 1.4, $btn-border-radius-large);
      }
    }
    &__sm {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
      height: 40px;
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
      height: 35px;
    }
  }


  &--round {
    @include border-radius(50px);
  }

  // Button group
  @if $use-btn-group == true {
    &__group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}