//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $base-font-family-serif;
  ul {
    font-size: 0;
    li {
      font-size: 14px;
      vertical-align: bottom;
      letter-spacing:2px;
    }
  }
}


.phone {
  display: inline-block;
  letter-spacing: 5px;
  line-height: 1;
  margin-top: 5px;
}

