//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  padding: 40px 0;
  //border-bottom: 1px solid $base-color-darken;
  //@include clearfix();
  .inner {
    //display: table;
    //width: 100%;
    font-size: 0;
  }
  .item {
    font-size: 16px;
    //display: table-cell;
    display: inline-block;
    vertical-align: middle;
  }
  &__logo {
    //float: left;
    text-align: center;
    a {text-decoration: none;}
    img {
      vertical-align: middle;
      //max-width: 60px;
    }
  }
  .btn {
    letter-spacing: 6px;
  }
}
.main-nav {
  //margin-top: 8px;
  text-transform: uppercase;
  font-family: 'Catorze Black';
  a {
    color: #bfbebc;
    font-size: 28px;
    text-decoration: none;
  }
  .menu-open {
    &:hover {
      color: $base-color-main;
    }
  }
  @media (min-width: $screen-md-min) {
    //float: right;
  }
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  //left: 0;
  overflow: auto;
  right: -100%;
  z-index: 99;
  background-color: #1b1b1b;
  text-align: left;
  width: 100%;
  @include transition();
  &.active {
    right: 0;
  }
  .inner {
    height: 100%;
    display: table;
    width: 100%;
  }
  &__item {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    &--fir {
      text-align: center;
    }
    &--sec {
      background: url("../images/menu-back.jpg") right center no-repeat;
    }
    &--title {
      font-size: 12px;
      text-transform: uppercase;
      color: $color-type-1a;
      margin-bottom: 14px;
      margin-top: 60px;
      letter-spacing: 1px;
    }
    &--line {
      width: 103px;
      height: 3px;
      margin-bottom: 190px;
      display: inline-block;
      background-color: $base-color-main;
    }
    .phone {
      color: #f9d29f;
    }
  }
  &-close {
    position: absolute;
    top: 81px;
    right: 132px;
    &:hover {
      color: $base-color-main;
    }
  }
  &-links {
    margin-left: 20%;
    margin-bottom: 0;
    li {
      padding: 10px;
    }
    a {
      color: #f9d29f;
      font-size: 41px;
      font-family: 'Catorze Book';
      font-weight: 300;
      text-transform: uppercase;
      width: 26px;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }


.social {
  //font-size: 17px;
  i::before {
    line-height: 27px;
  }
  > a {
    font-size: 17px !important;
    display: inline-block;
    color: $base-color-main;
    border: 1px solid $base-color-main;
    text-align: center;
    width: 30px;
    &:hover {
      color: #000;
      background: $base-color-main;
    }
  }
}