//
// Partials -> Main
// ------------------------------------


//
// Main container
//
.page-main {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  min-height: calc(100vh - 302px);
}
.page {
  &-index {
    background: url('../images/background.png') no-repeat top center,  url('../images/background-main.jpg') no-repeat bottom center, $base-background;
  }
  &-404 {
    background-image: url('../images/404.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-background;
    background-size: cover;
  }
  &-catalog {
    background-image: url('../images/catalog-back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-background;
    background-size: cover;
    @include transition();
  }
  &-shares {
    background-image: url('../images/shares.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-background;
    background-size: cover;
    .shares {
      margin: 105px 0;
    }
  }
  &-category {
    background-image: url('../images/category.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-background;
    background-size: cover;
  }
  &-wherebuy {
    background-image: url('../images/wherebuy.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-background;
    background-size: cover;
  }
  &-mission {
    background-image: url('../images/mission.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-background;
    background-size: cover;
  }
}
.relative {
  position: relative;
}

//tempaltes
.text-template {
  padding: 20px 0;
}
.dark-template {
  padding: 20px 0;
  background-color: $base-color-darken;
}
//tempaltes


.slider {
  padding: 60px 0 200px;
  position: relative;
   h1 {
     color: $color-type-1a;
     margin-top: 88px;
     position: relative;
     z-index: 1;
   }
  p {
    color: #c1c1c1;
    font-size: 18px;
  }
  .slick-slide {
    padding-left: 80px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


.about {
  color: #181818;
  background-color: #fffcf7;
  position: relative;
  padding: 66px;
  margin-top: 190px;
  letter-spacing: 1px;
  h3 {
    font-family: "Arno Pro";
    text-transform: none;
    letter-spacing: 1px;
  }
  a {
    color: $base-color-main;
    font-family: "Catorze Black", serif;
    border-bottom: 2px solid $base-color-main;
    text-decoration: none;
    &:hover {
      border-color: transparent;
    }
  }
  .img {
    margin-top: -187px;
    margin-bottom: 70px;
  }
  .decor {
    margin: 40px 0 50px;
    max-width: 200px;
    height: 1px;
    background: $base-color-main;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -50%;
    background-color: #fffcf7;
  }
}

.shares {
  margin: 135px 0;
  &__item {
    font-size: 0;
    border: 2px solid #3a3a3a;
    display: block;
    text-decoration: none;
    @include transition();
    cursor: pointer;
    max-width: 660px;
    &:hover {
      box-shadow: 0 0 75px rgba(158, 30, 34, 0.29);
    }
    &--compet .shares-text  {
      color: $base-color-main;
      background: #fff;
    }
  }
  &-date {
    font-size: $base-font-size;
    width: 26%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Catorze Book';
    &--1 {
      background: url("../images/share-1.png") center center no-repeat;
    }
    &--2 {
      background: url("../images/share-2.png") center center no-repeat;
    }
    .title {
      color: #fff;
      padding: 36px;
      font-size: 24px;
      text-transform: uppercase;
      border-bottom: 1px solid #3a3a3a;
    }
    .date {
      color: white;
      font-size: 61px;
      //font-family: 'Catorze Book';
      line-height: 1.2;
      text-align: left;
      padding: 60px 15px 20px;
      letter-spacing: 2px;
      span {
        display: block;
        font-size: 24px;
        letter-spacing: 0;
      }
    }
  }
  &-slider {
    width: 74%;
    font-size: $base-font-size;
    display: inline-block;
    vertical-align: top;
    img {vertical-align: middle;}
    .slick-slide {
      height: 290px;
    }
  }
  &-text {
    font-size: 24px;
    padding: 28px;
    @include transition();
    color: #fff;
    background-color: $base-color-main;
  }
  &-img {
    position: absolute;
    left: 30px;
    top: 9px;
    z-index: 11;
  }
  &-blockquote {
    padding: 40px 100px;
    color: $color-type-1a;
    border: 2px solid $base-color-main;
    margin-top: 10%;
    h3 {
      color: $color-type-1a;
    }
    h6 {
      font-size: 18px;
      color: $color-type-1a;
    }
    .shares-date {
      width: auto;
      .date {
        color: $color-type-1a;
        padding-top: 0;
      }
    }
  }
}

.feedback {
  margin-bottom: 100px;
  .decor {
    margin: 70px 0 50px;
    max-width: 200px;
    height: 1px;
    background: $base-color-main;
  }
  &-form {
    padding: 50px 260px 60px 65px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.35);
    background: url("../images/sign-back.png") no-repeat bottom right / auto 90%;
    label {
      margin-bottom: 15px;
    }
  }
  &-warning {
    color: rgba(255,255,255,0.1);
    margin-top: 31px;
    @include clearfix();
    .img {
      margin-right: 8px;
      float: left;
    }
    .par {
      float: left;
    }
  }
  .btn {
    height: 69px;
    padding: 2px 1px;
    i {
      color: #000;
      font-size: 40px;
      line-height: 40px;
    }
  }
}

.page-404 {
  p {
    color: #191919;
  }
}


.catalog {
  &-inner {
    //display: table;
    //width: 100%;
    //height: 100%;
    font-size: 0;
    & + & {
      //margin-top: 60px;
    }
  }
  &__item {
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    height: 250px;
    font-family: 'Catorze Bold';
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 30px;
    margin-bottom: 60px;
    & + & {
      border-left: 1px solid rgba(255, 255, 255, 0.06);
    }
    p {
      margin: 0;
      line-height: 1.43333;
    }
    a {
      color: $color-type-1a;
      text-decoration: none;
      position: absolute;
      bottom: 0;
      &:hover {
        color: $base-color-main;
      }
    }
    img {
      position: absolute;
      top: 10px;
      left: 30px;
    }
  }
}

.category {
  font-family: 'Catorze Bold';
  margin-bottom: 100px;
  h2 {
    color: #202020;
    font-size: 46px;
  }
  &-menu {
    a {
      color: $color-type-1a;
      font-size: 21px;
      text-transform: uppercase;
      text-decoration: none;
      &.active .category-ico,
      &:hover .category-ico {
        background-color: $base-color-main;
      }
    }
    span {
      vertical-align: middle;
    }
  }
  &-ico {
    width: 66px;
    height: 66px;
    display: inline-block;
    text-align: center;
    line-height: 66px;
    border: 1px solid $base-color-main;
    vertical-align: middle;
    margin-right: 24px;
    @include transition();
    img {
      vertical-align: middle;
    }
  }
  &-list {
    position: relative;
    background-color: #fff;
    padding: 40px 60px;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: -50%;
      background-color: #fff;
      z-index: -1;
    }
    &__item {
      padding: 30px;
      text-align: center;
      a {
        color: #202020;
        text-decoration: none;
        display: block;
        &:hover {
          color: $base-color-main;
        }
      }
      h5 {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    &__img {
      height: 156px;
      line-height: 156px;
    }
  }

  &-blockquote {
    //padding: 40px 100px;
    color: #202020;
    margin-top: 10%;
    .contents {
      text-transform: uppercase;
      font-family: 'Catorze Bold';
      line-height: 1.8;
      p {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: 'Catorze Bold';
      }
    }
  }
}

.wherebuy {
  text-transform: uppercase;
  font-family: 'Catorze Bold';
  position: relative;
  &-list {
    background-color: white;
    width: 395px;
    font-size: 0;
    padding: 22px 18px 14px;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 66px;
    top: 66px;
    &__item {
      font-size: 16px;
      width: 50%;
      display: inline-block;
      color: #181818;
      cursor: pointer;
      span {
        border-bottom: 2px solid transparent;
      }
      &.active {
        border-color: $base-color-main;
        color: $base-color-main;
        span {
          border-color: $base-color-main;
        }
      }
      & + & {
        border-left: 1px solid #e7e7e7;
      }
    }
  }
  &-tabs {
    width: 395px;
    font-size: 0;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 66px;
    bottom: 66px;
    &__item {
      font-size: 16px;
      width: 50%;
      display: inline-block;
      color: $base-color-main;
      border: 2px solid $base-color-main;
      line-height: 1;
      padding: 12px 8px 8px;
      cursor: pointer;
      &.active {
        background-color: $base-color-main;
        color: $color-type-1a;
      }
    }
  }
  &-contacts {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 66%;
    padding: 66px;
    height: 100%;
    color: #181818;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: -50%;
      background-color: #fff;
    }
    &--inner {
      overflow: auto;
      height: 100%;
    }
    &__item {
      display: inline-block;
      width: 38%;
      & + & {
        margin-left: 10%;
      }
      li {
        padding: 13px 0;
        border-bottom: 1px solid #ebebeb;
      }
      .text__xs {
        font-size: 10px;
      }
    }
    p { margin: 0;}
  }
}

.mission {
  &-title {
    padding: 60px 55px 39px;
    position: relative;
    margin-left: 60px;
    h1 {
      margin: 0;
      position: relative;
      z-index: 10;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &-mark {
    background: url("../images/mission-txt.png") no-repeat center center / cover;
    padding: 30px;
    color: $color-type-1a;
    line-height: 38px;
    font-family: 'Catorze Book';
  }
  &-blockquote {
    font-size: 23px;
    line-height: 38px;
    padding-top: 40px;
    position: relative;
    &::before {
      content: '';
      width: 255px;
      height: 1px;
      background-color: #fedca0;
      position: absolute;
      left: 0;
      top: 0;
    }
    .text__xlg {
      font-size: 23px;
    }
  }
  &-card {
    margin: 260px 0 110px;
    background-color: #fffcf7;
    padding: 90px;
    position: relative;
    color: #161616;
    line-height: 38px;
    .text__xlg {
      font-size: 24px;
    }
    &__img {
      position: absolute;
      font-family: 'Catorze Bold';
      font-size: 16px;
      color: $color-type-1a;
      img { display: block;}
      p {
        position: absolute;
        line-height: 18px;
        text-transform: uppercase;
      }
      &--1 {
        top: -260px;
        left: -320px;
        p {
          bottom: 30%;
          left: -80px;
        }
      }
      &--2 {
        top: -130px;
        right: -200px;
        z-index: -1;
      }
      &--3 {
        bottom: -50px;
        left: -60px;
      }
      &--4 {
        bottom: -140px;
        right: -140px;
        p {
          top: 30px;
          right: -40px;
        }
      }
    }
  }
  &-awards {
    padding-top: 120px;
    &__txt {
      h6 {
        font-size: 19px;
        color: $color-type-1a;
        margin: 0;
      }
      h3 {
        color: #c1c1c1;
        font-size: 32px;
        margin: 0;
      }
    }
    &__inner {
      line-height: 33px;
    }
    &__item {
      display: inline-block;
      width: 32%;
      padding: 0 3%;
      vertical-align: top;
      text-align: center;
      color: #ba995f;
      text-transform: uppercase;
      margin-bottom: 60px;
      &.nonactive {
        display: none;
      }
      &--sec {
        color: #ababab;
        .mission-awards__item-img {
          background: url("../images/awards-2.png") no-repeat center center / cover;
        }
      }
      &--up {
        color: #f9d29f;
        padding-top: 9%;
        cursor: pointer;
      }
      &-img {
        font-size: 44px;
        font-family: 'Catorze Bold';
        width: 164px;
        height: 151px;
        line-height: 150px;
        margin: 0 auto 20px;
        background: url("../images/awards-1.png") no-repeat center center / cover;
      }
      &-desc {
        font-size: 26px;
        p { margin: 0;}
      }
    }
  }
}

#map {
  height: 680px;
  color: #181818;
  text-transform: uppercase;
  .text__xs {
    font-size: 10px;
  }
  .gm-style {
    font-family: 'Catorze Bold';
  }
}

sup {
  font-size: 8px;
  vertical-align: top;
}
.tabs {
  &__caption {}
  &__content {
    display: none;
    &.active {display: block;}
  }
}