//
// Partials -> Main
// ------------------------------------

@media (max-width: $screen-lg-max) {
  .page-header {
    padding: 20px 0;

    .btn {
      font-size: 13px;
      height: 35px;
      line-height: 1;
      padding: 9px 20px;
    }
  }
  .slider {
    padding: 10px 0 90px;
    h1 {
      margin-top: 50px;
    }
    .btn {
      height: 45px;
      span {
        padding: 9px 50px;
        font-size: 18px;
      }
    }
  }
  .main-nav a {
    font-size: 30px;
  }
  .main-nav .menu-close,
  .main-nav .menu-open {
    font-size: 18px;
  }
  .menu-close {
    top: 61px;
    right: 32px;
  }
  .menu__item--line {
    margin-bottom: 110px;
  }

  .slider-sh {
    height: 270px;
    ul li {
      width: 410px;
    }
  }

  .white-popup .close {
    top: 40px;
    right: 40px;
    img {
      height: 38px;
    }
  }
    h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .slider {
    p {
      font-size: 16px;
    }
    .slick-slide {
      padding-left: 50px;
      img {
        height: 111px;
      }
    }
  }


  .about {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: -50%;
      background-color: #fffcf7;
      z-index: -1;
    }
    .text__xlg {
      font-size: 14px;
    }
  }
  .feedback-form {
    padding: 40px 160px 40px 30px;
    .btn {
      height: 40px;
      padding: 0;
      i {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  .form-control {
    height: 40px;
    padding: 5px 20px;
    font-size: 14px;
  }
  .shares {
    .slick-slide {
      height: 177px;
    }
    &-img {
      top: 50px;
      left: 20px;
      img {
        height: 111px;
      }
    }
    &-blockquote {
      padding: 40px 50px;
      .text__lg {
        font-size: 14px;
      }
      h6 {
        font-size: 16px;
      }
    }
    &-date {
      .title {
        font-size: 16px;
        padding: 20px 10px;
      }
      .date {
        padding-top: 35px;
        font-size: 34px;
        span {
          font-size: 14px;
        }
      }
    }
    &-text {
      font-size: 16px;
    }
  }

  .page-footer ul li {
    font-size: 11px;
    .text__xs {
      font-size: 10px;
    }
    .text__xlg {
      font-size: 16px;
    }
  }

  .catalog {
    margin: 100px 0;
    &__item {
      height: 170px;
      font-size: 17px;
      img {
        max-width: 10%;
      }
    }
  }

  .category {
    h2 {
      font-size: 22px;
    }
    &-menu a {
      font-size: 14px;
    }
    &-ico {
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin-right: 18px;
    }
    &-list {
      padding: 20px 40px;
      &__item {
        padding: 30px 10px;
        h5 {
          font-size: 16px;
        }
      }
    }
  }

  .mission {
    &-title {
      padding: 40px 55px 39px;
      margin-left: 40px;
      img {
        height: 111px;
      }
    }
    &-mark {
      line-height: 23px;
      .text__lg {
        font-size: 12px;
      }
    }
    &-blockquote {
      line-height: 23px;
      padding-top: 30px;
      &::before {
        width: 155px;
      }
      .text__xlg {
        font-size: 16px;
      }
    }
    &-card  {
      padding: 50px;
      line-height: 21px;
      .text__xlg {
        font-size: 16px;
      }
      .text__lg {
        font-size: 14px;
      }
      &__img {
        font-size: 14px;
        img {
          max-width: 60%;
          display: inline-block;
        }
        &--1 {
          top: -137px;
          left: -192px;
          p {
            left: -40px;
          }
        }
        &--2 {
          top: -80px;
          right: -119px;
          text-align: right;
        }
        &--3 {
          bottom: -28px;
          left: -36px;
        }
        &--4 {
          bottom: -96px;
          right: -69px;
          text-align: right;
          p {
            text-align: left;
            right: -80px;
          }
        }
      }
    }
    &-awards {
      padding-top: 40px;
      &__txt {
        h6 {
          font-size: 14px;
        }
        h3 {
          font-size: 22px;
          line-height: 1.5;
        }
      }
      &__item {
        margin-bottom: 40px;
        &-img {
          font-size: 27px;
          width: 99px;
          height: 92px;
          line-height: 86px;
          background: url("../images/awards-1.png") no-repeat center center / cover;
        }
        &-desc {
          font-size: 16px;
          line-height: 1.3;
          .text__sm {
            font-size: 10px;
          }
        }
        h4 {
          font-size: 16px;
          margin-top: 15px;
        }
      }
    }
  }

  .wherebuy {
    &-list, &-tabs {
      left: 80px;
      top: 40px;
      padding: 18px 18px 14px;
      width: 270px;
      &__item {
        font-size: 12px;
      }
    }
    &-tabs {
      padding: 0;
      top: auto;
      bottom: 40px;
    }
    &-contacts {
      width: 55%;
      padding: 45px;
    }
  }
  #map {
    height: 510px;
  }

}


@media (max-width: $screen-md-max) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cell {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  h1 {
    font-size: 26px;
  }
  .slider {
    h1 {
      margin-top: 0;
    }
    .slick-slide {
      padding-left: 10px;
      img, p {
        display: none;
      }
    }
  }
  .slick-next::before {
    background: url("../images/plugins/iconArrNext.png") no-repeat right center / auto 13px, transparent;
  }
  .slick-prev::before {
    background: url("../images/plugins/iconArrPr.png") no-repeat left center / auto 13px, transparent;
  }
  .slider .slick-prev::after, .slider .slick-next::after {
    height: 2px;
    top: 11px;
    width: 68%;
  }
  .slick-prev::after {
    left: 9px;
  }
  .slick-next::after {
    right: 9px;
  }
  .page-index .slick-dots li {
    margin: 0;
    button {
      width: 9px;
      height: 9px;
    }
    &.slick-active button {
      width: 13px;
      height: 13px;
    }
  }
  .about {
    padding: 66px 0;
    margin-top: 95px;
    .img {
      display: none;
    }
    .list--table {
      li {
        display: block;
      }
    }
    .decor {
      display: none;
    }
  }
  .shares {
    margin: 90px 0 10px;
    &-slider {
      width: 62%;
    }
    &-date {
      width: 38%;
    }
    &-slider {
      .slick-slide {
        height: 177px;
      }
    }
    &__item {
      margin-bottom: 45px;
    }
    &-text {
      padding: 14px;
    }
  }
  .feedback {
    margin-bottom: 40px;
    .decor {
      display: none;
    }
    &-form {
      padding: 30px 20px;
      background: transparent;
    }
    &-warning .par {
      font-size: 12px;
    }
  }
  .page-header {

    [class^="icon-"]::before, [class*=" icon-"]::before {
      vertical-align: top;
      line-height: 25px;
    }
  }
  .menu {
    &__item {
      display: block;
      width: 100%;
      &--sec {
        background: url("../images/menu-back-m.jpg") top center no-repeat;
        padding-bottom: 80px;
      }
    }
    &-links {
      padding-top: 100px;
      margin-left: 10px;
    }
    &-close {
      top: 48px;
      right: 20px;
    }
  }
  .main-nav a {
    font-size: 24px;
  }
  .margleft20 {
    margin-left: 20px;
  }

  .catalog {
    margin: 0;
    &__item {
      width: 49%;
      display: inline-block;
      padding: 0;
      margin-bottom: 40px;
      & + & {
        border-left: none;
      }
      &:nth-child(even) {
        border-left: 1px solid rgba(255, 255, 255, 0.06);
        padding-left: 20px;
        img {
          left: 20px;
        }
      }
      img {
        max-width: 22%;
        left: 0;
      }
    }
  }

  .page-footer {
    text-align: center;
    ul li {
      margin: 15px 0;
    }
  }

}
