footer.page-footer
	.container
		ul.list--inline
			li.visible__sm.visible__xs.cell__xs-12
				.text--uppercase.text__xs.text--info  горячая линия:
				.text__xlg.text--primary.phone  8 800 456-44-22
			li.visible__sm.visible__xs.cell__xs-12
				.social
					a(href="#"): i.icon-facebook
					a(href="#"): i.icon-twitter
					a(href="#"): i.icon-instagram
					a(href="#"): i.icon-vkontakte
			li.cell__xlg-3.cell__md-4: span.text--uppercase © ТД «Рублёвский». Санкт-петербург 2016.
			li.hidden__sm.hidden__xs.cell__xlg-4.cell__md-3.text--center
				.text--uppercase.text__xs  горячая линия:
				.text__xlg.text--primary.phone  8 800 456-44-22
			li.hidden__sm.hidden__xs.cell__xlg-3.cell__md-2
				.social
					a(href="#"): i.icon-facebook
					a(href="#"): i.icon-twitter
					a(href="#"): i.icon-instagram
					a(href="#"): i.icon-vkontakte
			li.cell__xlg-2.cell__md-3.text--right
				span.text--uppercase Разработка сайта: #[a.text--primary(href="#") cloudmill]