header.page-header
    .container
        .inner
            .item.cell__xlg-4.cell__lg-5.hidden__xs.hidden__sm
                a.btn.btn--transparent(href="/") Акции в магазинах города
            .item.page-header__logo.cell__xlg-4.cell__lg-3.cell__xs-6
                a(href="/")
                    img(src="images/logo.png", alt="Company ltd.")
            .item.cell__xlg-4.cell__lg-4.text--right.cell__xs-6
                include ../components/_navbar