main.page-main
    .container
        section.text--center
            img(src="images/404.png", alt="")
            p.text--uppercase Увы, у нас такой страницы нет
            p.margtop30 Но у нас есть большой выбор аппетитных и #[br] натуральных колбас
            .margtop30
                a.btn__lg-back.btn.btn--primary(href="#"): span В каталог >>
