main.page-main
    .container
        section.category
            .row
                .cell.cell__xlg-3.cell__md-4.cell__xs-12
                    ul.category-menu
                        li
                            a.active(href="#")
                                i.category-ico: img(src="images/catalog-ico-1.png", alt="")
                                span Сырокопченые колбасы
                        li
                            a(href="#")
                                i.category-ico: img(src="images/catalog-ico-2.png", alt="")
                                span деликатесы и копчености
                        li
                            a(href="#")
                                i.category-ico: img(src="images/catalog-ico-3.png", alt="")
                                span варено-копченые колбасы
                        li
                            a(href="#")
                                i.category-ico: img(src="images/catalog-ico-4.png", alt="")
                                span вареные колбасы и ветчины
                        li
                            a(href="#")
                                i.category-ico: img(src="images/catalog-ico-5.png", alt="")
                                span сосиски и сардельки
                        li
                            a(href="#")
                                i.category-ico: img(src="images/catalog-ico-6.png", alt="")
                                span Паштеты, зельцы, студни
                .cell.cell__xlg-9.cell__md-8.cell__xs-12
                    .category-list
                        h2 Сырокопченые колбасы
                        .row
                            - for (var x = 1; x < 5; x++)
                                .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                    .category-list__item
                                        a.popup-modal(href="#card-id", data-effect="mfp-zoom-in")
                                            .category-list__img: img(src="images/card-1.png", alt="")
                                            h5 Колбаса Пера «Пармская свиная»
                                .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                    .category-list__item
                                        a.popup-modal(href="#card-id", data-effect="mfp-zoom-in")
                                            .category-list__img: img(src="images/card-2.png", alt="")
                                            h5 Колбаса Пера «Пармская свиная»
                                .cell.cell__xlg-4.cell__md-6.cell__xs-12
                                    .category-list__item
                                        a.popup-modal(href="#card-id", data-effect="mfp-zoom-in")
                                            .category-list__img: img(src="images/card-3.png", alt="")
                                            h5 Колбаса Пера «Пармская свиная»