main.page-main
    .container
        section.catalog
            .catalog-inner
                .catalog__item
                    img(src="images/catalog-ico-1.png", alt="")
                    a.catalog__item--js(href="#", data-back="images/catalog-back1.jpg") Сырокопченые #[br] колбасы
                .catalog__item
                    img(src="images/catalog-ico-2.png", alt="")
                    a.catalog__item--js(href="#", data-back="images/catalog-back1.jpg")  деликатесы #[br] и копчености
                .catalog__item
                    img(src="images/catalog-ico-3.png", alt="")
                    a.catalog__item--js(href="#", data-back="images/catalog-back1.jpg")  варено-копченые #[br]  колбасы
                .catalog__item
                    img(src="images/catalog-ico-4.png", alt="")
                    a.catalog__item--js(href="#", data-back="images/catalog-back1.jpg")  вареные колбасы  #[br] и ветчины
                .catalog__item
                    img(src="images/catalog-ico-5.png", alt="")
                    a.catalog__item--js(href="#", data-back="images/catalog-back1.jpg") сосиски #[br] и сардельки
                .catalog__item
                    img(src="images/catalog-ico-6.png", alt="")
                    a.catalog__item--js(href="#", data-back="images/catalog-back1.jpg")  Паштеты, #[br]  зельцы, студни