main.page-main
    .container
        .cell__md-11.center-block
            section.slider
                - for (var x = 1; x < 5; x++)
                    div
                        img(src="images/bykv.png", alt="")
                        h1 Коллекция превосходных вкусов #[br] от компании «Рублёвский»
                        p Настоящее удовольствие для ценителей вкуса. Удовольствие на завтрак, обед и ужин!
                        .margtop40.margbot10
                            a.btn__lg-back.btn.btn--primary(href="#"): span СМотреть >>
        section.about
            .row
                .cell.cell__xlg-7.cell__lg-6.cell__xs-12.pull-right
                    .ul.list--table.margbot30
                        li: h2.margbot0 Наша миссия #[br] в санкт-Петербурге
                        li.text__lg--right.v-bottom: p.text--uppercase.text__xlg: a(href="#") узнать больше
                    .decor
                    img(src="images/about-img.jpg", alt="")
                .cell.cell__xlg-5.cell__lg-6.cell__xs-12
                    .img
                        img(src="images/story-img.png", alt="")
                    h3 Санкт-Петербург – город с историей
                    p.text__xlg Здесь каждый второй – музыкант. Здесь каждый в душе художник. Здесь огромный выбор выставок, спектаклей, концертов. Здесь даже барахолка, и та интеллигентная.
        .cell__lg-11.center-block
            section.shares
                .row
                    .cell.cell__md-6.cell__xs-12
                        .shares__item
                            .shares-date.shares-date--1
                                .title Акция
                                .date 30-31 #[span ноября]
                            .shares-slider.carousel
                                div(style="background: url('images/share-img-1.jpg') no-repeat center center / cover")
                                div(style="background: url('images/share-img-2.jpg') no-repeat center center / cover")
                                div(style="background: url('images/share-img-1.jpg') no-repeat center center / cover")
                            .shares-text Новинка! Сосиски «Альпийские белые #[br] с петрушкой»
                    .cell.cell__md-6.cell__xs-12
                        .shares__item.shares__item--compet
                            .shares-date.shares-date--2
                                .title Конккурс
                                .date 30-31 #[span ноября]
                            .shares-slider.carousel
                                div(style="background: url('images/share-img-3.jpg') no-repeat center center / cover")
                                div(style="background: url('images/share-img-2.jpg') no-repeat center center / cover")
                                div(style="background: url('images/share-img-3.jpg') no-repeat center center / cover")
                            .shares-text Новинка! Коллекция ПАШТЕТОВ новинка! #[br] Коллекция ПАШТЕТОВ
            section.feedback
                .row
                    .cell.cell__xlg-5.cell__md-4.cell__xs-12
                        h2.text--info Будьте всегда в курсе #[br] наших новостей
                        .decor
                    .cell.cell__xlg-7.cell__md-8.cell__xs-12
                        form.feedback-form
                            .form__group
                                label.text--uppercase вАШ E-MAIL
                                .input__group
                                    input.form-control(type="email", value="info@gmail.com")
                                    .input__group--btn
                                        button.btn.btn--warning(type="submit"): i.icon-paper-plane
                            .feedback-warning
                                .img
                                    img(src="images/shield.png", alt="")
                                .par Гарантируем Вашу конфиденциальность, #[br] информация не разглашается третьим лицам
