main.page-main
    .container
        section.mission
            .mission-title
                img(src="images/mission-m.png", alt="")
                h1.text--info Наша миссия в санкт-петербурге
            .cell__xlg-9.cell__md-10.pull-right
                .row
                    .cell.cell__lg-4
                        .mission-mark
                            span.text__lg Рублёвский» МПЗ производит колбасы и другие деликатесные мясные продукты премиального сегмента для рынка Москвы и Подмосковья. Ежедневно более полумиллиона москвичей и жителей области покупают к завтраку, обеду и ужину рублёвскую мясную продукцию.
                    .cell.cell__lg-6
                        .mission-blockquote
                            p.margbot40.text__xlg Вкус колбас и деликатесов – главный фактор при их выборе покупателями, а для вкуса решающее значение имеет качество исходного сырья; поэтому «Рублёвский» МПЗ использует только высококачественное охлажденное мясо и отборные натуральные приправы и специи.
                            p.text__xlg В результате рождается богатая палитра тонких вкусовых оттенков, которая делает продукцию «Рублёвского» желанной на семейном ужине, праздничном столе, дачном пикнике.
            .clearfix
            .cell__md-4.center-block
                .mission-card
                    .mission-card__img.mission-card__img--1
                        img(src="images/mission-img-1.png", alt="")
                        p Колбаса Пера #[br] «Испанская с вином»
                    .mission-card__img.mission-card__img--2
                        img(src="images/mission-img-2.png", alt="")
                    .mission-card__img.mission-card__img--3
                        img(src="images/mission-img-3.png", alt="")
                    .mission-card__img.mission-card__img--4
                        img(src="images/mission-img-4.png", alt="")
                        p Колбаса Дель Торо #[br] «Презенто»
                    p.text__xlg «Рублёвский» уделяет серьезное внимание гигиене производства, чистоте сырья и качеству выпускаемой продукции.
                    p.text__lg На предприятии реализовано сертифицированное управление качеством и безопасностью пищевых продуктов на основе принципов международной системы ХАССП, предусматривающей систематическую идентификацию, оценку и превентивное управление опасными факторами, существенно влияющими на безопасность продукции.
            .cell__md-10.center-block
                .mission-awards
                    .row
                        .cell.cell__md-4
                            .mission-awards__txt
                                h6 Наши награды
                                h3 на международных продуктовых выставках и конкурсах «Рублёвский» МПЗ был удостоен #[span.text--primary 50+] золотых и серебряных медалей за высокое качество и новаторские рецепты.
                        .cell.cell__md-8
                            .mission-awards__inner
                                .mission-awards__item
                                    .mission-awards__item-img 12x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p ЛУЧШИЙ #[br] ПРОДУКТ #[br] 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013
                                .mission-awards__item
                                    .mission-awards__item-img 4x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p WORLD FOOD MOSCOW #[br] 2005, 2006, 2007,2008
                                .mission-awards__item
                                    .mission-awards__item-img 1x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p ПРОДЭКСПО #[br] 2002
                                .mission-awards__item
                                    .mission-awards__item-img 2x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p Росагро #[br] 2005, 2006
                                .mission-awards__item.mission-awards__item--sec
                                    .mission-awards__item-img 2x
                                    .mission-awards__item-desc
                                        p.text__sm Серебрянная медаль
                                        p Лучший #[br] продукт #[br] 2005, 2006
                                .mission-awards__item.mission-awards__item--up.showall--js
                                    .mission-awards__item-showall
                                        img(src="images/reload.png", alt="")
                                        h4 Показать все
                                .mission-awards__item.nonactive
                                    .mission-awards__item-img 12x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p ЛУЧШИЙ #[br] ПРОДУКТ #[br] 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013
                                .mission-awards__item.nonactive
                                    .mission-awards__item-img 4x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p WORLD FOOD MOSCOW #[br] 2005, 2006, 2007,2008
                                .mission-awards__item.nonactive
                                    .mission-awards__item-img 1x
                                    .mission-awards__item-desc
                                        p.text__sm Золотая медаль
                                        p ПРОДЭКСПО #[br] 2002