main.page-main
    .container.relative
        .shares-img: img(src="images/shares-2.png", alt="")
        .cell__md-10.center-block
            .shares.slider-sh
                ul.slidee
                    - for (var x = 1; x < 7; x++)
                        li.slider-sh--item
                            a.shares__item.popup-modal(href="#shares-id", data-effect="mfp-zoom-in")
                                .shares-date.shares-date--1
                                    .title Акция
                                    .date 30-31 #[span ноября]
                                .shares-slider
                                    div: img(src="images/share-img-1.jpg", alt="")
                                .shares-text Новинка! Коллекция ПАШТЕТОВ новинка! #[br] Коллекция ПАШТЕТОВ
                .scrollbar: .handle
                .controls
                    .prev
                    .next