main.page-main
    .container
        section.wherebuy
            .cell__xlg-12.cell__md-11.center-block
                .tabs
                    ul.tabs__caption.wherebuy-list
                        li.wherebuy-list__item.active: span Сетевые магазины
                        li.wherebuy-list__item: span Показать ближайшие
                    .tabs__content.active
                        #map
                    .tabs__content
                        //#map2
                        img(src="images/maps.jpg", alt="")
                .tabs
                    ul.tabs__caption.wherebuy-tabs
                        li.wherebuy-tabs__item.active на карте
                        li.wherebuy-tabs__item списком
                    .tabs__content.active
                    .tabs__content
                        .wherebuy-contacts
                            .wherebuy-contacts--inner
                                .wherebuy-contacts__item
                                    ul
                                        - for (var x = 1; x < 20; x++)
                                            li
                                                p ул.Хабаровская, д.6
                                                p #[span.text--primary.text__xs график работы:]  10#[sup 00]-20#[sup 00] #[span.text__xs без выходных]
                                .wherebuy-contacts__item
                                    ul
                                        - for (var x = 1; x < 20; x++)
                                            li
                                                p ул.Хабаровская, д.6
                                                p #[span.text--primary.text__xs график работы:]  10#[sup 00]-20#[sup 00] #[span.text__xs без выходных]