block scripts
    <!--[if lt IE 9]>
    script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    //- build:js(./app/) scripts/plugins.js -->
    //- bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    //- endbower
    script(src='../bower_components/slick-carousel/slick/slick.min.js')
    script(src='../bower_components/magnific-popup/dist/jquery.magnific-popup.min.js')
    script(src='../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    script(src='scripts/plugins/jquery.easing.min.js')
    script(src='scripts/plugins/sly.min.js')
    //- endbuild -->
    //- build:js(.tmp) scripts/main.js -->
    script(src="scripts/main.js")
    //- endbuild -->