doctype html
html(lang="en")

    include mixins/_mixins

    head
        include partials/_head

    - var title = 'Главная'

    body.page-shares
        <!--[if lt IE 9]>
        p.browsehappy
            | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
            a(href="http://browsehappy.com/", target="_blank") современных браузеров.
            |  Это бесплатно и займет всего несколько минут.
        <![endif]-->
        include components/_popup

        //- header
        include partials/_header
        //- main
        include pages/_competitions
        //- footer
        include partials/_footer

        include _scripts